# secret config
tma.env

# Python
*.pyc

# Python ephemerals:
__pycache__
*.egg-info
.eggs

# IntelliJ stuff:
/.idea/
/*.iml
/.editorconfig
/.requirements_intellij.txt

# PyDev/Eclipse
.project
.pydevproject

# Python virtual environement:
# PvB:
/.venv
# EL:
.venv

# Generated documentation:
/docs/_build/
# Downloaded intersphinx inventory files:
/docs/*.inv
