# Python
*.pyc

# Python ephemerals:
__pycache__
*.egg-info
.eggs

# Python setuptools
/build
/dist

# PyDev/Eclipse
.project
.pydevproject

# Python virtual environement:
# EL:
.venv

# Generated documentation:
/docs/_build/
# Downloaded intersphinx inventory files:
/docs/*.inv
